html {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Microsoft Yahei", sans-serif;
  background-color: #fefefe;
}

/* iPhone5及以下 */
@media screen and (max-width: 320px) {
  html {
    font-size: 85.3333px;
  }
}

/* iPhone6 */
@media screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 100px;
  }
}

/* iPhone6及以上 */
@media screen and (min-width: 376px) {
  html {
    font-size: 110.4px;
  }
}